.App {
  text-align: center;
}

.prickly-button {
  font-family: 'Poppins', sans-serif !important;
  font-size: 28px !important;
  font-weight: 600 !important;
  background: #C0ED38 !important;
  border-radius: 8px !important;
  color: black !important;
}

.hidden {
  display: none;
}